@use "@angular/material" as mat;

.child-toolbar {
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0;
  height: 72px;
  z-index: 1000;
  background-color: var(--mat-toolbar-container-background-color);
  @include mat.elevation(4);
  padding: 0;
  overflow: hidden;
}

.pictogram-slider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  gap: 8px;
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 16px;

  &::-webkit-scrollbar {
    display: none;
  }

  button {
    min-width: 48px;
    min-height: 48px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
  }

  .active-sport-button {
    background-color: var(--mat-card-background-color);
    @include mat.elevation(4);
    box-shadow: var(--primary-color) 0px 0.5px 11px 2px;
  }
}

.pictogram-button-image {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.embeds-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
  padding: 16px;
}

.embed-wrapper {
  width: 100%;
}

.no-results {
  text-align: center;
  padding: 32px;
  font-style: italic;
  color: #888;
}
