<div [ngSwitch]="block.blockType">
  <!-- For each blockType, we render the corresponding component -->
  <app-rich-text-block *ngSwitchCase="'richText'" [block]="block"></app-rich-text-block>
  <app-pull-quote-block *ngSwitchCase="'pullQuote'" [block]="block"></app-pull-quote-block>
  <app-blockquote-block *ngSwitchCase="'blockquote'" [block]="block"></app-blockquote-block>
  <app-text-block *ngSwitchCase="'text'" [block]="block"></app-text-block>
  <app-image-gallery-block *ngSwitchCase="'imageGallery'" [block]="block"></app-image-gallery-block>
  <app-image-block *ngSwitchCase="'image'" [block]="block"></app-image-block>
</div>
