<mat-toolbar class="bottom-nav">
  <div class="nav-item-container">
    <a class="nav-link" routerLink="/" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact: true}">
      <span class="nav-icon-col">
        <img class="nav-inline-image nav-home-logo" src="assets/images/logo.png" alt="Home">
      </span>
      <span class="nav-label">Home</span>
    </a>
  </div>
  <div class="nav-item-container">
    <a class="nav-link" routerLink="/history" routerLinkActive="active-link">
      <span class="nav-icon-col">
        <mat-icon class="nav-inline-icon" aria-hidden="true">history</mat-icon>
      </span>
      <span class="nav-label">History</span>
    </a>
  </div>
  <div class="nav-item-container">
    <a class="nav-link" routerLink="/calendar" routerLinkActive="active-link">
      <span class="nav-icon-col">
        <mat-icon class="nav-inline-icon" aria-hidden="true">calendar_month</mat-icon>
      </span>
      <span class="nav-label">Calendar</span>
    </a>
  </div>
  <div class="nav-item-container">
    <a class="nav-link" routerLink="/athletes" routerLinkActive="active-link">
      <span class="nav-icon-col">
        <img class="nav-inline-image nav-pictogram" src="assets/images/pictograms/icons/athletics.svg" alt="Athletes">
      </span>
      <span class="nav-label">Athletes</span>
    </a>
  </div>
  <div class="nav-item-container">
    <a class="nav-link" routerLink="/originals" routerLinkActive="active-link">
      <span class="nav-icon-col">
        <mat-icon class="nav-inline-icon" aria-hidden="true">podcasts</mat-icon>
      </span>
      <span class="nav-label">Originals</span>
    </a>
  </div>
</mat-toolbar>
