@use "@angular/material" as mat;

:host {
  display: none;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: env(safe-area-inset-bottom);
}

.nav-item-container {
  flex: 1;
  text-align: center;
}

a[mat-icon-button] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 8px 0;
  border-radius: 0;
  color: mat.m2-get-color-from-palette(mat.$m2-grey-palette, 500);
  transition: color 0.3s ease;
  text-decoration: none;
}

.nav-label {
  font-size: 10px;
  margin-top: 4px;
}

.active-link {
  color: var(--primary-color) !important;
}

@media (max-width: 768px) {
  :host {
    display: block;
  }
}
