.originals-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: flex-start;
}

.embed-wrapper {
  max-width: 350px;
  width: 100%;
  margin: 0px 0px 0px 12px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
